/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/env
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/stamp-h1
/.deps
/.libs
/build-aux/depcomp
/epoll.la
/epoll_la-epoll.lo
*.go
/fibers.info
/build-aux/texinfo.tex
/fibers/config.scm
