/.deps
/.libs
build/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/env
/libtool
/stamp-h1
/m4
/build-aux/ar-lib
/build-aux/depcomp
/build-aux/texinfo.tex
/fibers.info
/fibers/config.scm
/fibers/posix-clocks.scm
*.la
*.lo
*.go
*.o
